$maincolor: #009688;
.main-color{
    color: $maincolor;
}
.bg-main{
background-color: $maincolor;
color: #fff;
}
.info {
    .card-title{
        position: absolute;
        bottom: 0;
    }
    
}
.skills-progress{
    .progress{
        height:18px;
        border-radius: .5rem;
        .progress-bar{
            background-color: $maincolor;
            border-bottom-right-radius:10px ;
            border-top-right-radius:10px ;

        }
    }
    
}
.experience-item{
    padding-top: 20px;
    padding-bottom: 20px;
}
h2.heading{
    margin-bottom: 30px;
}