$maincolor: #009688;
.main-color{
    color: $maincolor;
}
.info {
    .card-title{
        position: absolute;
        bottom: 0;
    }
    
}
.skills-progress{
    .progress{
        height:18px;
        border-radius: .5rem;
        .progress-bar{
            background-color: $maincolor;
        }
    }
    
}
